<mat-progress-bar mode="indeterminate" *ngIf="showLoading"></mat-progress-bar>
<div class="hero-list">
  <h1>{{'HERO_LIST' | translate}}</h1>
  <mat-form-field class="searchBar">
    <mat-label> {{'SEARCH_CHARACTER' | translate }}</mat-label>
    <input matInput [(ngModel)]="character" (keyup)="search(character)">
    <button mat-button *ngIf="character" matSuffix mat-icon-button aria-label="Clear" (click)="character=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div *ngIf="heroes && !isLoading" class="mh-cards-list">
    <mh-heroe-card *ngFor="let heroe of heroes" [heroe]="heroe" class="mh-cards-list__item"></mh-heroe-card>
  </div>
</div>
